.container h1{margin-bottom:90px;}
.loginul{
	margin:20px;
}
.loginul li{
	margin:10px;
}
.container h1{border-bottom:1px solid #efefef;}
.container h1{height:40px;line-height:40px;}
.head{
	height:40px;
	overflow:hidden;
	zoom:1;
	padding: 20px 30px 30px;
	color:#fff;
	background-color: #333333;
    border-bottom: 1px solid #444444;
    border-top: 1px solid #383838;
	/*
	background: -moz-linear-gradient(top, #000000, #333333);
	background-image:-webkit-linear-gradient(top, #000000, #333333); 
	background-image: -o-linear-gradient( top, #000000, #333333); 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000,endColorstr=#333333,grandientType=1);
	*/
}
.head span{font-size:10px;}